<header>

    <h3><%= link_to 'App', root_path %></h3>
        <nav>
            
           <li><%= link_to 'playlist', playlist_path %></li>

                <li><%= link_to 'colabs', colabs_path %></li>        
            
        </nav>

            
</header>

<div class="bg"></div>